{% extends 'base.html.twig' %}

{% block title "Les taches" %}

{% block body %}
<div class="container">

    <div class="d-flex justify-content-between my-2">
        <a href="{{ path('task.create') }}" class="btn btn-primary">Créer une tache</a>
        <p>Total estimation : {{ totalEstimates }}</p>
    </div>
    <ul class="list-group">
        {% for task in tasks %}
            <a class="list-group-item list-group-item-action" href="{{ url('task.show', {id: task.id, slug: task.slug}) }}">{{task.title}} (Estimation : {{task.estimates}})</a>
        {% endfor %}
    </ul>
</div>
{% endblock %}
